.register-box {
  margin: 0;
  font-family: Inter, sans-serif;
}

.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  font-family: Arial, sans-serif;
}

.register-box {
  width: 350px;
  background: #f5f5e6;
  padding: 25px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  text-align: center;
}

.register-box input {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background: #fafafa;
}

.register-box button {
  width: 50%;
  padding: 10px;
  margin-top: 25px;
  background: #0095f6;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.register-box button:hover {
  background: #0077cc;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
}
